@import "tailwindcss";

@layer utilities {
  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-slideInUp {
    animation: slideInUp 0.5s ease-out forwards;
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }
}

button {
  cursor: pointer;
}