fastapi>=0.123.4
python-dotenv>=1.2.1
uvicorn>=0.38.0
transformers
langchain
langchain-huggingface
sqlalchemy
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
httpx
pydantic[email]