@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply font-sans overflow-hidden;
        font-family: var(--font-sans);
    }
}

@layer utilities {
    .animate-in {
        animation: animateIn 0.4s ease-out forwards;
    }

    @keyframes animateIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}